body {
    background-color:azure;
    font-family: Arial, sans-serif;
}

#header, #panel, #shapeshifter, #tabs {
    color: white;
    text-align: center;
    width: 75%;
    margin: auto;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 10px;
}

#panel {
    display: none;
}

#shapeshifter {
    margin-top: 5px;
    width: 100px;
    float: left;
    opacity: 0.5;
}

#tabs {
    margin-top: 100px;
}